@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary-color);
  color: #333;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

p {
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 1.5;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

ul li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.logo {
  width: 100px;
  width: 100px;
}

#header {
  height: 10rem;
}

.navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: var(--bg-secondary-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  height: 90px;
  padding: 0 3rem;
}

.header_content {
  display: flex;
}

.nav-items a {
  padding: 0.6rem 1.8rem;
  font-size: 1.8rem;
}

.nav-items a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #096db8;
  border-radius: 5px;
}

.nav-items a i {
  padding-right: 0.5rem;
}

/* Hamburger */
.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

/* Hero */
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: -10px;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 70vh;
  color: #fff;
}
.hero-content h1 {
  margin-top: 10rem;
  margin-bottom: 0;
  font-size: 6rem;
}

.hero-content h2 {
  margin-top: 1rem;
  font-size: 2.6rem;
  color: #fff;
}

.hero-content h3 {
  margin-top: 5rem;
  font-size: 2rem;
  color: gold;
}

.hero-content p {
  font-size: 2rem;
  word-spacing: 1px;
}

/* Projects */

.project-content p {
  display: flex;
  text-align: justify;
  align-self: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project-content h1 {
  text-align: center;
  color: #096db8;
  box-shadow: 0 1px 2px 0 #ed911a, 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 1rem;
  text-transform: uppercase;
}

.project-content h2,
h3,
h4 {
  text-align: center;
  font-size: 2rem;
  color: #ed911a;
  text-transform: uppercase;
  margin: 2rem 0;
}

/* About */
.about-main h1 {
  text-align: center;
  color: #096db8;
  box-shadow: 0 1px 2px 0 #ed911a, 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 1rem;
}

.about-main p {
  margin: 3rem 0;
  font-size: 1.8rem;
}
.about-content {
  background: #f2f2f2;
}
.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-living-sub {
  max-width: 600px;
  padding: 2rem;
  text-align: justify;
}
.about-living-sub h3 {
  color: inherit;
  text-align: left;
}
.about-content img {
  width: 300px;
  height: 300px;
}

/* Work */
#work {
  margin-top: 3rem;
}
#work h1 {
  text-align: center;
  color: #096db8;
  box-shadow: 0 1px 2px 0 #ed911a, 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 1rem;
}

#work p {
  display: flex;
  align-self: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  background: #f2f2f2;
  border-radius: 3px;
  position: relative;
  border: 1px solid #f2f2f2;
  margin-right: 2rem;
  text-align: center;
}

.card h2 img {
  width: 50px;
  height: 50px;
}

.card:hover {
  border: 1px solid #f2f2f2;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
}

/* Moder Houses */
#modern-houses {
  background: #f2f2f2;
  margin-top: 5rem;
}

.modern-houses-main p {
  margin-bottom: 3rem;
}

.modern-houses-main h1 {
  border-bottom: #ed911a solid 1px;
}

.modern-houses-main .farm-img {
  gap: 1rem;
  overflow: hidden;
}

.modern-houses-main .farm-img img {
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
}

.modern-houses-main .farm-img div:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
}
.modern-houses-main .farm-img div:nth-child(2) {
  position: relative;
  width: 100%;
  height: 100%;
  grid-row: span 2;
}
.modern-houses-main .farm-img div:nth-child(3) {
  position: relative;
  width: 100%;
  height: 100%;
}
.modern-houses-main .farm-img h3 {
  position: absolute;
  visibility: hidden;
  color: #fff;
  top: 0%;
  padding: 0 20%;
  font-size: 2.5rem;
}
.modern-houses-main .farm-img h4 {
  position: absolute;
  visibility: hidden;
  text-align: center;
  color: #c98f5f;
  top: 0%;
  left: 15%;
  padding: 0 20%;
  font-size: 2.4rem;
}
.modern-houses-main .farm-img div:hover > img {
  filter: brightness(30%);
  transition: filter 0.5s ease-in-out;
}

.modern-houses-main .farm-img div:hover > h3 {
  visibility: visible;
  top: 40%;
  transition: top 500ms ease-in-out;
}
.modern-houses-main .farm-img div:hover > h4 {
  visibility: visible;
  top: 60%;
  transition: top 500ms ease-in-out;
}

#modern-houses .modern-house {
  padding: 5% 0%;
}
#modern-houses .modern-house h3 {
  border-bottom: #ed911a solid 2px;
}
#modern-houses .modern-house .mh1 {
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}
#modern-houses .modern-house .mh2 {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

#modern-houses .modern-house img {
  width: 100%;
  padding: 2% 0%;
  transition: all 0.5s;
}

#modern-houses .modern-house .mh1:hover > img {
  transform: scale(1.05);
}
#modern-houses .modern-house .mh2:hover > img {
  transform: scale(1.05);
}

/* Work */
.work2-main {
  gap: 1rem;
  place-items: center;
}
.work2-main div img {
  width: 400px;
  height: 500px;
  border-radius: 5px;
}
.work2-content h1 {
  margin-top: 5rem;
  border-bottom: #ed911a solid 1px;
}

/* Testimonials */
#testimonials {
  background: #f2f2f2;
  margin-top: 3rem;
}
.testimonials-content h1 {
  margin-top: 5rem;
  border-bottom: #ed911a solid 1px;
}
.intro1,
.intro2,
.intro3,
.intro4 {
  margin-right: 4rem;
  text-align: center;
  width: 180px;
  height: 180px;
}
.intro1 img,
.intro2 img,
.intro3 img,
.intro4 img {
  border-radius: 100px;
  object-fit: cover;
}

.intro-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  background: #f2f2f2;
}

.intro-data h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

/* Analytics */
.analytics-data {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.analytics-data div {
  margin-right: 5rem;
}

.analytics-data div h3 {
}

/* Links */
#contact {
  background: #f2f2f2;
}
.contact-info {
  padding: 10rem 0;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.link-info {
  border-right: #ed911a solid 2px;
}

.links a {
  margin-right: 2rem;
  font-size: 3rem;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-box h2 {
  margin-bottom: 2rem;
}

input,
textarea {
  width: 400px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  padding: 14px;
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}

.submit-btn {
  background-color: #ed911a;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

.location p i {
  margin-right: 1rem;
}

/* Footer */
.footer {
  background: #333;
  height: 15rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  margin-right: 3rem;
  text-decoration: underline;
}
/* Grids */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .navBar {
    justify-content: space-between;
  }

  .logo {
    order: 1;
    width: 75px;
    height: 75px;
  }

  #menu {
    order: 3;
  }

  .header_content {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 70%;
    height: 100%;
    transition: 0.3s;
    background-color: #f2f2f2;
  }
  .hero-content h1 {
    font-size: 4rem;
  }

  .hero-content h2 {
    font-size: 1.6rem;
  }

  .hero-content h3 {
    font-size: 1.6rem;
  }

  .hero-content p {
    font-size: 1.6rem;
  }
  /* Add spacing between hamburer and navigation menu */
  .header_content li:first-child {
    margin-top: 7rem;
  }

  .header_content.active {
    right: 0;
  }

  .nav-items {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .nav-link {
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body {
    overflow-x: hidden;
  }

  .card {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .about-living-sub {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .modern-houses-main .farm-img h3 {
    font-size: 1.6rem;
  }
  .modern-houses-main .farm-img h4 {
    font-size: 1.6rem;
  }

  #modern-houses .modern-house img {
    padding: 2%;
  }

  #modern-houses .modern-house h3 {
    font-size: 1.6rem;
  }
  .work2-main {
    grid-template-columns: repeat(2, 1fr);
  }
  .work2-main div img {
    width: 140px;
    height: 200px;
  }
  .work2-main div h4 {
    font-size: 1.6rem;
  }
  #modern-houses .modern-house .mh1 {
    padding-right: 0;
  }
  #modern-houses .modern-house .mh2 {
    padding-left: 0;
  }

  .intro-data {
    flex-direction: column;
  }

  .intro1,
  .intro2,
  .intro3,
  .intro4 {
    margin-right: 0;
    margin-bottom: 5rem;
    width: 100px;
    height: 100px;
  }

  .intro-data h2 {
    font-size: 1.5rem;
  }

  .analytics-data {
    flex-direction: column;
  }
  .analytics-data div {
    margin-right: 0;
  }
  .contact-info {
    padding: 0;
  }
  input,
  textarea {
    width: 100%;
  }
  .link-info {
    border-right: 0;
  }
  .contact-box {
    margin-top: 3rem;
  }
  .contact-info {
    padding: 2rem 3rem;
  }
  .footer {
    flex-direction: column;
    padding: 14rem 0;
  }

  .footer a {
    margin-right: 0;
    margin-bottom: 1rem;
    text-decoration: none;
    border-bottom: #ccc solid 1px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ed911a;
  border-radius: 8px;
}
